.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;

  background: #07142f;
}

.logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}

.nav-links a.active {
  color: #3b82f6;
  font-weight: bold;
}