.analytics-page {
  padding: 40px;
  text-align: center;
}

.analytics-page h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.analytics-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.analytics-card {
  width: 250px;
  min-height: 140px;

  background: #111827;

  border-radius: 15px;

  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.analytics-card h3 {
  color: white;
  margin-bottom: 15px;
}

.analytics-card p {
  font-size: 40px;
  font-weight: bold;
  color: #3b82f6;
}

.chart-container {
  width: 90%;
  max-width: 1000px;

  margin: 50px auto;

  background: #111827;

  border-radius: 15px;

  padding: 25px;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.chart-container h2 {
  margin-bottom: 20px;
  color: white;
}